html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  line-height: 1;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #ec3b6b;
}

a:hover {
  color: #c10135;
  cursor: pointer;
}

.section {
  padding-bottom: 48px;
  border-bottom: 1px solid #ededed;
}

.section-head {
  margin: 36px 0px;
  font-size: 36px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #6714b8;
  text-transform: uppercase;
}

.page-content {
  margin-top: -40px;
  background: white;
  border-radius: 16px;
  padding: 16px 32px;
  max-width: 1300px;
}

.main-content {
  line-height: 2;
}

.image-banner {
  background-color: #c7f075;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  min-height: 50vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: -1;
}

.artist-credit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background: white;
  border: none;
  margin-top: 40px;
}

.artist-credit p .name {
  font-size: 18px;
  margin: 8px 0px;
  line-height: 1.5;
}

.artist-credit button {
  background: white;
  border: 0;
  margin: 0;
  padding: 0;
  color: #9a5cd6;
  font-size: 14px;
  min-height: 20px;
  transition: 0.2s linear;
}

.artist-headshot {
  height: 150px;
  width: 150px;
  border-radius: 1000px;
  background: #99cc33;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-self: center;
  border: 0px solid #9a5cd6;
  transition: border 0.1s ease-in-out;
}

.artist-headshot img {
  width: 150px;
}

.artist-modal-preview {
  min-width: 400px;
  padding: 16px;
  max-height: 300px;
  overflow-y: scroll;
  border-radius: 16px;
  line-height: 2;
  border: 1px solid grey;
  text-align: left;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.artist-modal-preview h2 {
  color: #222222;
  margin: 8px 0px;
}
